
<style>
    @media only screen and (max-width:680px){
        .dropdown-toggle::after{
        display: none;
    }
    }
</style>

<div class="main">


    <div id="filters">

        <div class="dropdown ">
            <a class="dropdown-toggle filter" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <div><img src="/Assests/wedding.png"></div>
                <p>Wedding's</p>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item fs-6 fst-italic fw-light" href="/wedding">Wedding</a></li>
                <li><a class="dropdown-item fs-6 fst-italic fw-light" href="/prewedding">Pre-Wedding</a></li>
                <li><a class="dropdown-item fs-6 fst-italic fw-light" href="/postwedding">Post-Wedding</a></li>
                
            </ul>
        </div>
        <div class="filter">
            <div><img src="/Assests/birthday.png"></i></div>
            <a href="/birthday">Birthday's Party</a>
        </div>


        <div class="filter">
            <div><img src="/Assests/fashion.png"></div>
            <a href="/fashion">Fashion's</a>
        </div>
    </div>

</div>