<% layout('/layouts/boilerplate.ejs') -%>
<%- include("../includes/category.ejs") %>

<form method="POST" action="/fashion/<%=image._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    <div id="post-container">
        <h2>Edit Post</h2>

        <div id="image-preview-container"></div>

        <div class="mb-3">
            <h6> original Image </h6>
            <img src="<%= originalImageUrl %>">
        </div>

        <label for="file-input" id="file-label">Select Image</label>
        <input type="file" id="file-input" name="Image[image]" accept="image/*" onchange="previewImage(event)">

        <input placeholder="Write your Type of photograph...eg: wedding/prewedding etc" value="<%=image.type %>"name="Image[type]" rows="4"
            style="width: 100%; margin-bottom: 20px;">
        <div class="invalid-feedback">Please Enter A Type</div>
        <button class="btn btn-success">Edit</button>
    </div>

</form>