

<% layout('/layouts/boilerplate.ejs') -%>


<%- include("../includes/welcome.ejs") %>
    <div class="main">
       
        <div class="first">
           
            <div class="disc">
                <div class="exp">
                    <h3>Photographer with more than <span style="color:red;">8 Years</span> of Experience</h3>
                </div>
            </div>
            
            <div class="box">


                <div class="inner-box" >
                    <div class="box-body">
                        <p class="box-text">
                            <b style="display: block;">Capture The Moment</b>
                            A professional who can see beauty even in the duliest shades.
                        </p>
                    </div>
                    <img src="Assests/img2.jpg" class="card-img-top" alt="img" >

                </div>

                <div class="box" >
                    <img src="Assests/img1.jpg" class="card-img-top img-btw" alt="img">
                </div>

                <div class="inner-box" >
                    <div class="box-body">
                        <p class="box-text">
                            <b style="display: block;">Discover Yourself in Photo </b>
                            From the Photographer you can't hide those beautiful outlines in a person.
                        </p>
                    
                    </div>
                    <img src="Assests/img3.jpg" class="card-img-top" alt="img">
                </div>
            </div>
            <div class="button">
                <button><a href="/contact" style="text-decoration: none; color: #000;">Hire Me!</a></button>
            </div>
        </div>

        <div class="second">
            <div class="work">
                <h3>Fields I Work</h3>
            </div>
            <div class="category">
                <span>Birthday's party </span>
                <span>Wedding's </span>
                <span>Fashion</span>
            </div>
        </div>

        <div class="third">
            <div class="myself">
                <span>
                    <b style="display: block;">Hey there!</b>
                    I started my career in 2019 as a student of Radiant Star Education Center. As I was passionate and keen to learn photography I started Dh-photography.Hope we can find the best solution for your purpose.
                </span>
                <span>
                    <b style="font-size: large;">Let's make it</b>
                    <img src="/Assests/Owner.jpg" class="card-img-top img-btw" alt="img">
                </span>
               
            </div>
        </div>

    </div>
    