<% layout('/layouts/boilerplate.ejs') -%>
    <%- include("../includes/category.ejs") %>
      



        <div class="main">


            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <h3 class="pt-2 pb-2 text-center">Image Gallery</h3>
                <div class="row">
                    <div class="column">
                        <img src="/Assests/img2.jpg">
                        <img src="/Assests/img2.jpg">
                        <img src="/Assests/img2.jpg">
                       
                    </div>
                    <div class="column">
                        <img src="/Assests/img2.jpg">
                        
                        <img src="/Assests/img2.jpg">
                        <img src="/Assests/img3.jpg">
                    </div>
                


                </div>
                <a href="/wedding" class=" text-center btn mt-4  col-lg-2 col-sm-6">Show More </a>
            </div>


            <div class="secondDiv">
                <div class="cube">
                    <div class="step">
                        <span class="ellipse"><span></span></span>
                        <span class="line"></span>
                    </div>

                    <div class="description">
                        <h6>Briefing</h6>
                        <p>At this point I discover how you need it to be done, choose a location</p>
                    </div>
                </div>

                <div class="cube">
                    <div class="step">
                        <span class="ellipse"><span></span><span></span></span>
                        <span class="line"></span>

                    </div>

                    <div class="description">
                        <h6>Meeting/Phone Call</h6>
                        <p>When meeting, we arrange the necessary decor, lighting, chromakey</p>
                    </div>
                </div>
                <div class="cube">
                    <div class="step">
                        <span class="ellipse"><span></span><span></span><span></span></span>
                        <span class="line"></span>
                    </div>

                    <div class="description">
                        <h6>Process & result</h6>
                        <p>And after the whole process we get a gorgeous result</p>
                    </div>
                </div>

                <div class="cube">
                    <div class="step">
                        <span class="ellipse" style="background-color: aqua;"><i class="fa-solid fa-thumbs-up"
                                style="color: whitesmoke; font-size: 1.5rem;"></i></span>

                    </div>

                    <div class="description">
                        <h6>See You Again</h6>

                        <p>Lots of Love From <span style="color: crimson;">Dh-photography &hearts;</span></p>
                    </div>
                </div>
            </div>
        </div>